$light-black: #696868;
$Exo-font: 'Exo',
sans-serif;
$salmon-color: #ff6d6d;
$white: #ffffff;
$bold: 900;
$black: #282828;
$blue: #4e5899;
$darker-white: #8a8a8a;
$grey: #ededed;
$light-grey: #282828bd;
